.uwp_social_login_ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  clear: both;
  li {
    padding: 0;
    margin: 0 10px 10px 0;
    border: none !important;
    float: left;
    a, a:hover, img {
      box-shadow: none !important;
      -moz-box-shadow: none !important;
    }
  }
}